site_name: Trophy
site_url: https://example.com   # optional; set your real URL if you have one
theme:
  name: material
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.top
    - content.code.copy
    - toc.integrate

# "docs" points to the symlinked Obsidian subfolder
docs_dir: trophy-site/docs
use_directory_urls: true

plugins:
  - search
  - roamlinks
  - awesome-pages
  - glightbox
  - minify:
      minify_html: true
  - macros

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - footnotes
  - tables
  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.critic
  - pymdownx.superfences:
      custom_fences:
        - name: obsidian-only
          class: ignore
          format: !!python/name:pymdownx.superfences.fence_code_format

exclude_docs: |
  jorando/sets/Cistern/


# Optional: If you want to hide the "Made with Material for MkDocs" footer
# h: true is for macros to hide things in the block
extra:
  generator: false
  hc: true
  h: "hide"
